/* -----------------------Importing Google Font "Raleway"--------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");

/* --------------Box Sizing--------------------------------- */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0px;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  margin: auto;
  max-width: 90vw;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* -----------------------Fonts--------------------------------- */

.title {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 20px 20px 20px;
}

.small {
  font-size: 14px;
}

h4 {
  font-weight: 200;
  font-size: 12px;
}

/* -----------------------Header--------------------------------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

li,
a {
  font-weight: 500;
  font-size: 16px;
  color: grey;
  text-decoration: none;
}

.logo {
  height: 40px;
}

.navlinks {
  list-style: none;
}

.navlinks li {
  display: inline-block;
  padding: 0px 20px;
}

.navlinks li a:hover {
  padding-top: 15px;
  border-top: 2px solid blue;
  color: #0065fc;
}

/* -----------------------Search--Bar--------------------------------- */

.search-container {
  display: flex;
  margin-top: 10px;
}

#pinicon {
  background-color: #deebff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 30px;
  color: black;
  line-height: 30px;
  text-align: center;
}

#mobile-search-button {
  display: none;
}

.pc-search-button {
  background-color: blue;
  color: white;
  padding: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-style: none;
}

.input {
  padding: 5px;
  border: 1px solid lightgrey;
  border-right: none;
  border-left: none;
}

::placeholder {
  color: grey;
  font-size: 0.9em;
  font-weight: 100;
  font-size: small;
}

/* -----------------------Title----------------- */
.title--margin {
  margin: 10px 0px 10px 0px;
}
/* -----------------------Filters Zone----------------- */

.filters-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.filters-container label {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 20px 5px 30px;
  border: 1px solid lightgray;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 90px;
  cursor: pointer;
}

.filters-container span:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.filters-container input:checked ~ i {
  background-color: blue;
  color: white;
}

.filters-container i {
  font-size: 16px;
  padding: 5px 0px;
  border: 1px solid lightgray;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #deebff;
  color: #0065fc;
  text-align: center;
  position: relative;
  left: 10px;
}

.filter-text {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.filter-button {
  display: flex;
  align-items: center;
}
.filters-container input {
  display: none;
}

/* -----------------------Quote----------------- */

.alerte-container {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 5px;
}

#alerte {
  padding: 5px;
  font-weight: 100px;
}

.alerte-container i {
  font-size: 16px;
  padding: 5px 0px;
  border: 1px solid lightgray;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: white;
  color: #0065fc;
  text-align: center;
}
/* -----------------------Main----------------- */
main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.starswrap {
  color: #0065fc;
  font-size: 10px;
}

/* --Accommodations in Marseille--------------- */

.accommodations-in-marseille {
  background-color: #f2f2f2;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 66%;
}

.accomodation-cards-container {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.accomodation {
  width: 200px;
  height: 180px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 4px;
  margin: 15px;
  border-radius: 5px;
  justify-content: space-between;
}

.accomodation:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.accomodation img {
  margin: 1px;
  border-radius: 5px;
  width: 100%;
  height: 110px;
  /* border: 1px solid; */
}

#showmore {
  color: black;
}

/* ----------------------- Most Popular----------------- */

.most-popular {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 33%;
  min-width: 350px;
}
#most-popular-star {
  position: relative;
  left: 230px;
}

.cardsright {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
}

.accomright {
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 300px;
  border-radius: 5px;
  background-color: white;
  padding: 4px;
}

.accomright:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.accomright img {
  border-radius: 5px;
  width: 150px;
  height: 100%;
  object-fit: cover;
}

.textright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  max-height: 100%;
}

/* <!-- Activities in Marseille  --> */
.acitivities-title {
  margin: 10px 0px;
}

.activities_container {
  margin: 2px 0px 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* long activity */

.Act-long {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  border-radius: 5px;
  height: 400px;
}

.long {
  width: 300px;
  height: 360px;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: block;
}

.Act-long:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Short--activities */

.Act-short-1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  object-fit: cover;
  border-radius: 5px;
  display: block;
}

.Act-short-1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.short-image-1 {
  width: 300px;
  height: 160px;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: block;
}
/* Short--activity--2 */

.Act-short-2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  object-fit: cover;
  border-radius: 5px;
  display: block;
  width: 300px;
  height: 160px;
}
#frioulisland {
  margin-top: 40px;
}

#notredame {
  margin-bottom: 40px;
}

.Act-short-2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.short-image-2 {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: block;
}

#2 {
  background-color: red;
}

/* Activity-Title */

.activity-title {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 14px;
  font-weight: 400px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 20px;
}

.activity-title h3 {
  margin-left: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* <!-- Footer  --> */

.row {
  display: flex;
  text-align: justify;
  text-justify: distribute;
}

ul {
  list-style: none;
}

.footer {
  background-color: #f2f2f2;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
  margin-left: 20px;
}

.footer-col h4 {
  font-size: 18px;
  color: black;
  margin-bottom: 25px;
  margin-top: 25px;
  font-weight: 500;
  position: relative;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  color: red;
  text-decoration: none;
  font-weight: 300;
  color: black;
  display: block;
}

.footer-col ul li a:hover {
  color: red;
  padding-left: 8px;
}


